# Archivos de Serverless
.serverless/
serverless/get-games-api.zip
.serverless/meta.json
.serverless/serverless-state.json
get-games.zip

# Dependencias de Node.js
node_modules/
package-lock.json

# Archivos de configuración sensibles
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de compilación y logs
dist/
build/
tmp/
logs/
*.log
npm-debug.log*
yarn-debug.log*
